<div>

  <div>
    <label for="name">
      Name
    </label>
    <input type="text" [(ngModel)]="name" id="name">
  </div>

  <div>
    <label for="age">
      Age
    </label>
    <input type="number" [(ngModel)]="age" id="age">
  </div>

  <div>
    <label for="position">
      Position
    </label>
    <input type="text" [(ngModel)]="position" id="position">
  </div>

  <div>
    <label for="role">
      Role
    </label>
    <input type="text" [(ngModel)]="role" id="role">
  </div>


  <div>
    <button class="button" (click)="bookItem()">Save</button>
  </div>

</div>
